{% extends "layout.njk" %}
{% block head %}
  <title>Rocketseat | Sobre</title>
  <link rel="stylesheet" href="/stylesHome.css">
{% endblock head %}

{% block content %}
  <div class="about">
    <div class="content-about">
      <h1>Acelere sua evolução. Participe da nossa comunidade no Discord.</h1>
      <p>Potencialize o seu aprendizado, destaque-se entre os programadores e ganhe prêmios exclusivos.</p>
      <a href="https://rocketseat.com.br/comunidade">Acessar comunidade</a>
    </div>

    <div class="img-about">
      <img src="https://rocketseat.com.br/static/images/update/comunidade-home.svg" alt="Rocket">
    </div>
  </div>
{% endblock content %}

{% block footer %}
<div class="footer">
    <div class="img_troph">
      <img src="https://rocketseat.com.br/static/images/update/trofeu-home.svg" alt="Trophy">
    </div>

    <div class="techs">
      <h1>As mesmas tecnologias usadas por empresas como:</h1>
      <h2>Nubank, Netflix, Uber, Instagram e Airbnb</h2>
      <p>Imagine você dominando as mesmas tecnologias adotadas pelos melhores times do mundo, construindo aplicações de alta performance e se destacando entre os maiores programadores.
      </p>
    </div>
  </div>
{% endblock footer %}