{% extends "layout.njk" %}

{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <title>Conteúdos</title>
{% endblock head %}

{% block header%}
  <header>
    <div class="links">
      <img src="https://skylab.rocketseat.com.br/static/media/logo.0ae02df1.svg" alt="Logo Rocketseat">

      <div class="back">
        <span class="material-icons">
          keyboard_backspace
        </span>
        <a href="/">Voltar</a>
      </div>
    </div>
  </header>
{% endblock header%}

{% block content %}
  
  <section class="cards">
    {% for item in items %}    
      <div id="{{item.id}}" class="card {{item.id}}">
        <div class="span__card">
          <span>{{item.span}}</span>
        </div>

        <div class="card__image-container">
          <img src="{{item.img_url}}" alt="{{item.id}}">
        </div>

        <div class="card__info">
          <p>
            {{item.description}}
          </p>

        </div>
      </div>
    {% endfor %}
  </section>
{% endblock content %}

{% block modal %}

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">
          close
        </i>
      </a>
      <a class="maximize-modal">
        <i class="material-icons">
          maximize
        </i>
      </a>
    </div>

    <div class="modal-content">
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>

  <script src="/scripts.js"></script>
{% endblock modal %}