{% extends "layout.njk" %}
{% block content %}

  <div id="content">
    <div class="info">
      <h1>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h1>
      <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
      <a href="/courses">Quero embarcar nesse foguete</a>
    </div>
    <div class="card">
      <img src="/melhores-tecnologias.svg" alt="Melhores Tecnologias">
    </div>
  </div>  
{% endblock content %}

{% block footer %}
  <div class="footer">
    <div class="img_troph">
      <img src="https://rocketseat.com.br/static/images/update/trofeu-home.svg" alt="Trophy">
    </div>

    <div class="techs">
      <h1>As mesmas tecnologias usadas por empresas como:</h1>
      <h2>Nubank, Netflix, Uber, Instagram e Airbnb</h2>
      <p>Imagine você dominando as mesmas tecnologias adotadas pelos melhores times do mundo, construindo aplicações de alta performance e se destacando entre os maiores programadores.
      </p>
    </div>
  </div>
  {% endblock footer %}